<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GradientColors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA48D2FB1E562F9700AB69E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA48D30F1E562F9700AB69E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA48D31A1E562F9800AB69E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
